In [137]:
import pandas as pd
import numpy as np
import statistics as sts

In [108]:
#covariance

def cov(a,b):
    
    a_mean = np.mean(a)
    b_mean = np.mean(b)
    
    sum = 0
    
    for i in range(0, len(a)):
        sum += ((a[i] - a_mean) * (b[i] - b_mean))

    return sum/(len(a)-1)

In [106]:
#variance

def var(a):
    
    a_mean = np.mean(a)
    
    sum = 0
    
    for i in range(0, (len(a))):
        sum += np.square((a[i]-a_mean))
        
    return sum/(len(a)-1)

In [3]:
nifty_data = pd.read_csv('NIFTY 50 DATA.csv')

In [37]:
nifty_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-03,17427.949219,17428.050781,17312.750000,17398.050781,17398.050781,230200
1,2023-04-05,17422.300781,17570.550781,17402.699219,17557.050781,17557.050781,248300
2,2023-04-06,17533.849609,17638.699219,17502.849609,17599.150391,17599.150391,242700
3,2023-04-10,17634.900391,17694.099609,17597.949219,17624.050781,17624.050781,254800
4,2023-04-11,17704.800781,17748.750000,17655.150391,17722.300781,17722.300781,304300
...,...,...,...,...,...,...,...
238,2024-03-21,21989.900391,22080.949219,21941.300781,22011.949219,22011.949219,353200
239,2024-03-22,21932.199219,22180.699219,21883.300781,22096.750000,22096.750000,388700
240,2024-03-26,21947.900391,22073.199219,21947.550781,22004.699219,22004.699219,328400
241,2024-03-27,22053.949219,22193.599609,22052.849609,22123.650391,22123.650391,409100
242,2024-03-28,22163.599609,22516.000000,22163.599609,22326.900391,22326.900391,410500

In [131]:
tata_data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-04-03,423.000000,424.950012,419.500000,424.250000,421.630737,6948329
1,2023-04-05,424.250000,428.750000,423.149994,426.549988,423.916504,8821326
2,2023-04-06,426.500000,439.299988,423.750000,437.649994,434.947998,10907492
3,2023-04-10,452.049988,473.299988,452.000000,461.299988,458.451965,50462653
4,2023-04-11,463.750000,463.750000,455.799988,458.700012,455.868042,14495222
...,...,...,...,...,...,...,...
238,2024-03-21,951.000000,969.250000,946.000000,964.900024,961.931580,11074207
239,2024-03-22,964.900024,986.200012,950.349976,979.799988,976.785706,13638296
240,2024-03-26,977.000000,995.000000,976.000000,986.200012,983.166016,9461531
241,2024-03-27,991.599976,995.000000,976.700012,978.650024,975.639282,6640537
242,2024-03-28,982.500000,999.900024,979.000000,992.799988,989.745728,9862996

In [9]:
nifty_max = nifty_data.High[0]

In [12]:
nifty_min = nifty_data.Low[0]

In [13]:
for i in nifty_data.Low:
    if i<nifty_min:
        nifty_min = i

In [24]:
for ii in nifty_data.High:
    if ii>nifty_max:
        nifty_max = ii

In [40]:
max_drawdown_nifty = nifty_max - nifty_min

## Max drawdown nifty

In [41]:
max_drawdown_nifty

5213.849609000001

In [123]:
tata_data = pd.read_csv('TATAMOTORS historical data.csv')

In [43]:
tata_max = tata_data.High[0]
tata_min = tata_data.Low[0]

for i in tata_data.Low:
    if i<tata_min:
        tata_min = i
        
        
for ii in tata_data.High:
    if ii>tata_max:
        tata_max = ii

In [182]:
max_drawdown_tata = (tata_max - tata_min)/tata_max

In [160]:
nifty_expected = (nifty_data.Close[len(nifty_data) - 1] - nifty_data.Open[0])/ nifty_data.Open[0]

In [57]:
nifty_expected

28.109739765933853

## Max drawdown tata

In [183]:
max_drawdown_tata

0.6063250662085226

In [158]:
tata_expected = (tata_data.Close[len(tata_data) - 1] - tata_data.Open[0])/ tata_data.Open[0]

In [159]:
tata_expected

1.3470448888888888

In [163]:
Rf = 0.07015

In [164]:
tata_expected - Rf

1.276894888888889

In [165]:
sharpe_tata = (tata_expected - Rf)/sts.stdev(tata_data.Close)

In [166]:
sharpe_tata

0.008539360214508481

In [140]:
sharpe_nifty = (nifty_expected - Rf)/sts.stdev(nifty_data.Close)

In [141]:
sharpe_nifty

0.015203851490144289

## Beta

In [172]:
beta = cov(nifty_data.Close, tata_data.Close)/np.square(sts.stdev(nifty_data.Close))

In [173]:
beta

0.10314598306980763

## Alpha

In [169]:
alpha = tata_expected - Rf - beta*(nifty_expected - Rf)

In [170]:
alpha

1.2551365121812987

In [189]:
nifty_data['Adj Close']

0      17398.050781
1      17557.050781
2      17599.150391
3      17624.050781
4      17722.300781
           ...
238    22011.949219
239    22096.750000
240    22004.699219
241    22123.650391
242    22326.900391
Name: Adj Close, Length: 243, dtype: float64